html
    scroll-behavior: smooth
body
    color: $text-color
    font-size: 14px
    +reg
.section
    padding: 8vh 0
.title
    font-size: 2.6em
    text-transform: uppercase   
    +bold
.line
    width: 444.71px
    height: 5px
    margin: 15px 0 0 70px
.active
    color: $text-color
.point 
    display: inline-block
    background-color: $line-color
    height: 0.3rem
    width: 0.3rem
    margin-left: -0.3rem
a:hover
    text-decoration: none
    color: black
button
    outline: none !important

.year
    position: relative
    display: flex
    align-items: center
    color: black
    &-arrow
        margin-left: 0.5em
    &-select
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        padding: 0
        margin: 0
        width: 98px
        height: 108px
        position: absolute
        top: 260%
        right: 2%
        list-style: none
        color: $mutted
        background-color: #fff
        border: 1px solid $line-color
        display: none
        &__arrow
            &-up
                margin-bottom: 0.5em
                transform: rotate(180deg)
                & rect
                    fill: $mutted
            &-down
                margin-top: 0.5em
                & rect
                    fill: $mutted

@media (max-width: 1199px)
    body
        font-size: 12px