.about
    height: 92vh
    background: center no-repeat url("../img/about-bg.jpg")
    background-attachment: fixed 
    position: relative
    &-gradient
        height: 92vh
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.96) 9.38%, rgba(255, 255, 255, 0.753411) 32.81%, rgba(255, 255, 255, 0.445628) 60.94%, rgba(255, 255, 255, 0) 100%), rgba(37, 176, 173, 0.08)
    &-block
        position: relative
        z-index: 1
    &-header
        margin-bottom: 20px
    &-text
        padding: 40px 0
        line-height: 1.3
    &-box
        position: absolute
        top: 17vh
        left: 0
        height: 45vh
        width: 90vw
        background: linear-gradient(0deg, rgba(241, 249, 248, 0.7), rgba(241, 249, 248, 0.7)), rgba(255, 255, 255, 0.5)

@media ( max-height: 800px  )
    .about
        &-box
            top: 20vh
            height: 50vh

@media ( max-width:  1440px )
    .about
        &-box
            width: 97vw