.header
    position: fixed
    z-index: 100
    top: 0
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    height: 8vh
    border-bottom: 1px solid $line-color
    background-color: #fff
    &-block
        display: flex
        justify-content: space-between
        align-items: center
    &-nav
        padding: 0
        display: flex
        justify-content: space-between
        &__link
            color: black

@media (max-width: 992px)
    .header
        &-nav
            display: none
    
                    

