.hero
    margin-top: 8vh
    position: relative
    height: 92vh
    background: no-repeat url("../img/hero-bg.jpg")
    background-position: 100% contain
    &-gradient
        height: 92vh
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.97) 42.19%, rgba(255, 255, 255, 0.753411) 58.33%, rgba(255, 255, 255, 0.445628) 66.15%, rgba(255, 255, 255, 0) 100%), rgba(37, 176, 173, 0.08)
    &-block
        position: absolute
        top: 30%
    &-arrow
        position: absolute
        bottom: 3%
        left: 50%
        transform: translate (-50%, 0)
        cursor: pointer
    &-title
        position: relative
        max-width: 900px
        font-size: 4.3em
        letter-spacing: 0.02em
        text-transform: uppercase   
        margin-bottom: 30px
        +bold
    &-point
        margin-left: -0.6rem
        height: 0.6rem
        width: 0.6rem
    &-line
        width: 38vw
        margin-left: 10vw
        margin-bottom: 30px
    &-description
        max-width: 800px
        display: block
        font-size: 2.6em    
        line-height: 1.2
        margin-bottom: 68px
        +lig
    &-button
        padding: 1.5% 3%
        border: 5px solid $line-color
        background-color: #fff
        outline: none
        cursor: pointer
        font-size: 1.5em
        color: $text-color
        &:hover
            background-color: $line-color
            transition: 0.7s

@media ( max-width:1199px)
    .hero
        &-description
            max-width: 700px

@media ( max-width:991px)
    .hero
        &-description
            max-width: 600px