.modal
    display: none
    align-items: center
    justify-content: center
    height: 92vh
    top: 8vh
    background: rgba(255, 255, 255, 0.59)
    backdrop-filter: blur(25px)
    +reg
    &-block
        position: relative
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        width: 703px
        height: 314px
        margin: auto
        vertical-align: middle
        text-align: center
        border: 5px solid $line-color
        background-color: #fff
    &-text
        font-size: 1.5em
        & span
            font-size: 3em
    &-line
        margin-top: 0
    &-close
        // display: inline
        position: absolute
        // width: 30px
        // height: 30px
        border: 0
        top: 0
        right: 2%
        outline: none
        font-size: 3em 
        color: $line-color
        background-color: white
        +reg