.stages
    height: 92vh 
    &-header
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 20px
    &-block
        // height: 92vh 
        position: relative
        z-index: 1
    &-box
        position: absolute
        top: 10vh
        left: 0
        height: 75vh
        width: 90vw
        background: rgba(241, 249, 248, 0.7)
    &-table
        position: relative
        line-height: 1.1em
        padding: 1.75em 0
        &__block
            height: 70vh
            overflow-x: hidden
            overflow-y: scroll
            &::-webkit-scrollbar
                width: 5px
            &::-webkit-scrollbar-thumb 
                background: $line-color

.table-block
    &__item
        padding-right: 0
        display: flex
        align-items: flex-start
        & img
            margin-top: 7px
            margin-right: 6px
           
.table
    &-item
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr
        margin-bottom: 20px
    &-thead
        +bold


@media ( max-height: 800px )
    .stages
        &-box
            top: 13vh
            height: 73vh

@media ( max-width:  1440px )   
    .stages
        &-box
            width: 97vw
    
    