.today
    height: 92vh
    &-block
    &-header
        margin-bottom: 20px
    &-table
        padding: 1.75em 0
        background: rgba(241, 249, 248, 0.7)
        & tr
            border: 0
        & thead th 
            width: 58%
            border: 0
        & td 
            padding: 0.5em 0.75em
            border: 0